<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
      <section name="ActiveDirectorySettings" type="System.Configuration.NameValueSectionHandler" />
      <section name="DataBase" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
    <ActiveDirectorySettings>
        <add key="server" value="192.168.0.11:389" />
        <add key="domain" value="hrsystem.local" />
        <add key="userPath" value="OU=HROne ODC,OU=HROne,OU=OUs,DC=hrsystem,DC=local" />
        <add key="officePath" value="OU=HROne ODC,OU=HROne,OU=OUs,DC=hrsystem,DC=local" />
        <add key="techincalUserAuthenticationMode" value="Settings" />
        <add key="login" value="Администратор@HRSYSTEM.LOCAL" />
        <add key="password" value="Felonmc1997" />
        <add key="timeout" value="00:01:00" />
        <add key="saslMethod" value="GSS-API" />
        <add key="protocolVersion" value="3" />
    </ActiveDirectorySettings>
    <DataBase>
        <add key="connectionString" 
             value="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=HRSystem;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" />
    </DataBase>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.ComponentModel.Annotations" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>